<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dodomath.app">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MathBookApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MathTheme.FullScreen">

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".HomeWebPageActivity"
            android:screenOrientation="landscape" />

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- TODO: below are sample code -->

        <!--<activity-->
        <!--android:name=".MainActivity"-->
        <!--android:label="@string/app_name_test">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name=".adapters.ItemListActivity"
            android:label="@string/title_adapters" />
        <activity
            android:name=".functional.DataLoadingActivity"
            android:label="@string/title_functional" />
        <activity android:name=".ItemDetailsActivity" />
        <activity
            android:name=".two_way_binding.SearchActivity"
            android:label="@string/title_two_way_binding" />
        <activity
            android:name=".calculator_example.CalculatorActivity"
            android:label="@string/title_calculator"></activity>


    </application>

</manifest>